.navbar-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    min-height: 100px;
    background: none;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 1000;
    padding: 0 1rem;
}

.navbar-navlist {
    display: flex;
    gap: 4rem;
    font-weight: 700;
    padding: 0 1rem;
    margin: 0;
    flex-wrap: wrap;
    justify-content: center;
}

.navbar-navlist li {
    display: flex;
    align-items: center;
}

.nav-link {
    color: var(--off-white);
    text-decoration: none;
    transition: transform 0.3s ease-in-out;
}

.nav-link:hover, .nav-link:focus {
    transform: scale(1.2);
}

.nav-logo {
    width: auto;
    height: 60px;
    filter: brightness(0) invert(1);
}

@media (max-width: 1024px) {
    .navbar-navlist {
        gap: 1.5rem;
    }
}

@media (max-width: 850px) {
    .navbar-navlist {
        gap: 3rem;
        margin-top: 1rem;
        padding-inline: 1rem;
    }
}


@media (max-width: 768px) {
    .navbar-navlist {
        font-size: 0.9rem;
        margin-top: 1rem;
    }

    .nav-logo {
        height: 50px;
    }
}

@media (max-width: 591px) {
    .navbar-container {
        flex-direction: column;
        justify-content: center;
        padding-top: 0.5rem;
    }

    .navbar-navlist {
        justify-content: center;
        margin-top: 0.5rem;
    }
}