.resources-header-container {
    background-color: rgba(0, 0, 0, 0.3);
    backdrop-filter: blur(8px);
    padding: 1.5rem;
    border-radius: 15px;
    border: 2px solid var(--off-white);
    /*max-width: 800px;*/
    width: 90%;
    margin: 8rem auto 2rem auto;
    box-sizing: border-box;
    color: var(--off-white);
    text-align: center;
}


.resources-background {
    background-image: url("/14.jpeg");
    /*background-color: #20292f ;*/
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
    min-height: 100vh;
    min-width: 100vw;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.resources-container {
    display: grid;
    grid-template-columns: repeat(auto-fit, 275px);
    gap: 0.5rem;
    width: 90%;
    height: fit-content;
    margin: 1rem auto;
    margin-bottom: 5rem;
    justify-content: space-between;
    place-items: center;
}

.resources-featured {
    margin: 1rem auto;
    margin-top: 8rem;
    width: 90%;
    height: 500px;
    display: flex;
    /*justify-content: space-around;*/
    align-items: center;
    flex-direction: row;
    /*background-color: var(--off-white);*/
    border-radius: 15px;
    box-shadow: 10px 10px 20px rgba(0, 0, 0, 0.3);
    gap: 1rem;
    min-width: 600px;
    background-color: #20292f ;
    border: 2px solid var(--off-white);
}

.resources-container {
    background-color: rgba(0, 0, 0, 0.3);
    backdrop-filter: blur(8px);
    padding: 1.5rem;
    border-radius: 15px;
    border: 2px solid var(--off-white);
    /*max-width: 800px;*/
    width: 90%;
    margin: 2rem auto 5rem auto;
    box-sizing: border-box;
    color: var(--off-white);
    text-align: center;
}

.featured-heading-h2 {
    font-size: 2rem;
    color: var(--off-white);
    margin: 0;
}


.featured-heading-h3 {
    font-size: 1rem;
    color: var(--off-white);
    font-weight: 100;
}

.featured-flex {
    display: flex;
    flex-direction: column;
    height: 100%;
    width: 60%;
    gap: 1rem;
    padding: 2rem;
    margin: 1rem;
    flex: 1;

}

.featured-flex-button {
    display: flex;
    gap: 1rem;
    height: 50px;
    margin-top: auto;
    flex-wrap: wrap;
}

.featured-img-wrapper {
    width: 40%;
    min-width: 500px;
    height: 500px;
    /*aspect-ratio: 4/3;*/
    /*border-radius: 15px 0 0 15px;*/
    /*overflow: hidden;*/
    position: relative;


}

.featured-img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    /*object-position: center;*/
    border-radius: 15px 0 0 15px;


}

.featured-price {
    color: var(--off-white);
    margin: 0;
    font-weight: 900;
}

.featured-buy-button {
        margin-bottom: 2rem;
        margin-left: auto;
        width: auto;
        border: none;
        background: none;
        color: var(--off-white);
        background-color: var(--brand-color);
        min-width: fit-content;
        padding: 1rem;
        font-weight: 900;
        font-size: 1.2rem;
        border-radius: 15px;
        transition: ease-in-out 0.5s;
        text-decoration: none;
    }

.featured-buy-button:hover {
        background-color: var(--off-white);
        color: var(--brand-color);
        cursor: pointer;
        transform: scale(1.2);
    }

.button-margin-left  {
    margin-left: 2rem;
}


@media (max-width: 1024px) {
    .featured-flex {
        gap: 0.5rem;
    }

    .featured-heading-h2 {
        font-size: 1.5rem;
    }
}

@media (max-width: 860px) {

    .featured-heading-h2 {
        font-size: 1.2rem;
    }

    .resources-container {
        grid-template-columns: repeat(auto-fit, minmax(min(200px, 100%), 1fr));
    }
    .resources-featured {
        flex-direction: column;
        gap: 0.5rem;
        min-width: 300px;
        height: auto;
        width: fit-content;
        max-width: 90%;    }

    .featured-img-wrapper {
        width: 100%;
        min-width: 100%;
        min-height: 700px;

    }

    .featured-img {
        border-radius: 15px 15px 0 0;
    }

    .featured-flex {
        width: 100%;
    }

}

@media (max-width: 750px) {


    /*.featured-img-wrapper {*/
    /*    width: 100%;*/
    /*    aspect-ratio: 4 / 3;*/
    /*}*/

    /*.featured-img {*/
    /*    border-radius: 15px 15px 0 0;*/
    /*}*/

    /*.featured-flex {*/
    /*    padding: 1.5rem;*/
    /*    width: 100%;*/
    /*    margin: 0;*/
    /*}*/

    .featured-img-wrapper {
        width: 100%;
        min-width: 100%;
        min-height: 600px;
        max-height: 600px;
    }
}

@media(max-width: 600px) {
    .resources-background {
        padding-top: 50px;
    }

    .featured-img-wrapper {
        width: 100%;
        max-width: 300px;
        max-height: 500px;
        min-height: 500px;
    }

    .featured-img {
    max-height: 500px;
    }
}

@media(max-width: 525px) {
    .featured-img {
        max-height: 400px;
        min-height: 400px;
    }
    .featured-img-wrapper {
        max-height: 400px;
        min-height: 400px;
    }
}

@media(max-width: 450px) {
    .featured-img {
        max-height: 350px;
    }
    .featured-img-wrapper {
        max-height: 350px;
    }

    .resources-featured {
        width: 90%;
    }
}

@media(max-width: 400px) {
    .featured-img {
        max-height: 300px;
        min-height: 300px;
    }
    .featured-img-wrapper {
        max-height: 300px;
        min-height: 300px;
    }
}

@media(max-width: 375px) {
    .resources-featured {
        margin-top: 12rem;
    }
}