.footer-container {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    width: 100%;
    min-height: 50px;
    background: none;
    position: absolute;
    bottom: 0;
    left: 0;
    z-index: 1000;
}



.footer-list {
    display: flex;
    gap: 2rem;

}

.footer-list > * {
    width: 30px;
}

a > img {
    width: 30px;
    height: auto;
    filter: invert();
}

a >img:hover {
    transition: ease-in-out 0.5s;
    transform: scale(1.2);
}

li {
    list-style: none;
    padding: 0;
}

ul { padding: 0;}