.inkcap-background {
    /*background-color: var(--off-black) ;*/
    background-image: url("/redmush.jpg");
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
    min-height: 100vh;
    min-width: 100vw;
    display: flex;
    flex-direction: column;
    position: relative;
    justify-content: center;
}

.inkcap-header-container {
    /*position: relative;*/
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    /*border: 2px solid var(--off-white);*/
    gap: 3rem;
    width: 90%;
    margin-inline: auto;
    margin-top: 6rem;
    border-radius: 15px;
    margin-bottom: 1rem;
    padding: 1rem;
}

.inkcap-img-wrapper {
    position: relative;
    width: 40%;
    aspect-ratio: 5/4;
    margin: 2rem auto;
}

/*.mushroom-img {*/
/*    width: 100%;*/
/*    height: auto;*/
/*    display: block;*/
/*    position: static;*/
/*    margin-bottom: 1rem;*/
/*    !*border-bottom: 2px solid var(--off-white);*!*/
/*}*/

.inkcap-img {
    width: 250px;
    margin-bottom: -6rem;
}

.inkcap-img-two {
    filter: invert( 100%);
}

.mushroom-heading {
    color: var(--off-white);
    /*position: absolute;*/
    /*left: 60%;*/
    font-size: 3rem;
    text-align: center;
    /*margin-right: 8rem;*/
    font-family: Charm, sans-serif;
}

.inkcap-content-section-1 {
    background-color: var(--off-white);
    width: 100%;
    margin-bottom: 5rem;
}

.inkcap-content-section-heading {
    text-align: center;
    height: fit-content;
}

.inkcap-content-flex1 {
    display: flex;
    width: 100%;
    align-items: center;
}

.content-container > ul > li {
    /*list-style-type: disc;*/
    margin: 1rem auto;
    text-align: center;

}

.inkcap-content-flex1 > img {
    width: 400px;
}

.inkcap-content-flex1 > p {
    width: 50%;
    margin: 1rem;
    font-size: 1.2rem;
}

.inkcap-photos-flex {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 1rem;
    width: 100%;

}

.inkcap-photos-flex > img {
    width: 300px;
    height: auto;
}



.our-ink-flex {
    display: flex;
    flex-direction: row;
    gap: 1rem;
    margin-inline: auto;
    width: 90%;
    height: fit-content;
}

.our-ink-child {
    position: relative;
    flex: 1;
    height: 400px;
    transition: flex 0.3s ease-in-out, transform 0.3s ease-in-out;
    background-size: 110%;
    background-position: center;
    background-repeat: no-repeat;
    border-radius: 15px;
    border: 2px solid var(--off-white);
    overflow: hidden;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    filter: brightness(1);
}

.our-ink-child:hover {
    flex: 2;
    background-size: 130%;
    transform: scaleX(1.02);
    z-index: 1;
    filter: brightness(1);
}

.our-ink-flex:hover .our-ink-child:not(:hover) {
    filter: brightness(0.6);

}

.our-ink-child h3 {
    color: var(--off-white);
    font-size: 1.5rem;
    transition: transform 0.3s ease;
}

.our-ink-child p {
    color: var(--off-white);
    opacity: 0;
    max-width: 80%;
    margin-top: 0.5rem;
    transform: translateY(10px);
    transition: opacity 0.3s ease, transform 0.3s ease;
}

.our-ink-child:hover p {
    opacity: 1;
    transform: translateY(0);
    backdrop-filter: blur(20px);
}

.our-ink-child > h3 {
    backdrop-filter: blur(20px);
    margin-bottom: auto;
}

.ione {
    background-image: url("/inkmushroom.png");
    background-size: cover;
    background-color: #075c71;
    /*background-position-y: 50px;*/

}

.itwo {
    background-image: url("/ink1.jpeg");
    background-size: cover;

}
.ithree {
    background-image: url("/ink3.jpeg");
    background-size: cover;
}
.ifour {
    background-image: url("/ink5.jpeg");
    background-size: cover;
}
.ifive {
    background-image: url("/inkwitch.png");
    background-size: cover;
    background-color: #075c71;
}


.content-container {
    background-color: rgba(0, 0, 0, 0.3);
    backdrop-filter: blur(20px);
    padding: 3.5rem;
    border-radius: 15px;
    border: 2px solid var(--off-white);
    width: 90%;
    margin: 0 auto;
    color: var(--off-white);
    margin-bottom: 5rem;
    margin-top: 1.5rem;
    font-size: 1.2rem;
    display: flex;
    flex-direction: column;
    /*font-weight: 600;*/
    text-align: center;
}

.homelinkbutton {
    display: inline-block;
    width: auto;
    margin-inline: auto;
    border: none;
    color: var(--off-white);
    min-width: fit-content;
    min-height: 50px;
    padding: 1rem;
    font-weight: 900;
    font-size: 1.2rem;
    border-radius: 15px;
    transition: ease-in-out 0.5s;
    text-decoration: none;
    background-color: #075c71;
}

.homelinkbutton:hover {
    background-color: var(--off-white);
    color: var(--brand-color);
    cursor: pointer;
    transform: scale(1.2);
}



@media (max-width: 1024px) {
    .inkcap-header-container {
        flex-direction: column;
        gap: 0;
        margin-top: 4rem;
    }
}

@media (max-width: 950px) {
    .our-ink-flex {
        flex-wrap: wrap;
    }

    .our-ink-child {
        min-width: 350px;
    }

    .inkcap-img {
    width: 150px;
        height : 150px;
        margin-bottom: -3rem;
    }

    .mushroom-heading {
        margin: 0;
    }

    .inkcap-background {
        padding-top: 50px;
    }
}

@media (max-width: 795px) {
    .ione {
        background-position-y: -5rem;
    }
}

@media (max-width: 768px) {
    .content-container {
        padding: 1rem;
        text-align: center;
    }

    .ione {
        background-position-y: -5rem;
    }

    .inkcap-header-container {
        margin-top: 8rem;
    }

    .inkcap-img-wrapper {
        margin-bottom: 0;
        width: 80%;
    }

}

@media (max-width: 670px) {
    .ione {
        background-position-y: -25px;
    }
}

@media (max-width: 550px) {
    .ione {
        background-position-y: 20px;
    }
}