.inkcap-background {
    background-color: var(--off-black) ;
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
    min-height: 100vh;
    min-width: 100vw;
    display: flex;
    flex-direction: column;
    position: relative;
}

.inkcap-header-container {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
}

.mushroom-img {
    width: 100%;
    height: auto;
    display: block;
    position: static;

}

.inkcap-img {
    position: absolute;
    left: 80%;
    top: 30%;
    width: 150px;
}

.mushroom-heading {
    color: var(--off-white);
    position: absolute;
    left: 60%;
    font-size: 4rem;
    text-align: end;
    margin-right: 8rem;
    font-family: Charm, sans-serif;
}

.inkcap-content-section-1 {
    background-color: var(--off-white);
    width: 100%;
    margin-bottom: 5rem;
}

.inkcap-content-section-heading {
    text-align: center;
    height: fit-content;
}

.inkcap-content-flex1 {
    display: flex;
    width: 100%;
    align-items: center;
}

.inkcap-content-flex1 > img {
    width: 400px;
}

.inkcap-content-flex1 > p {
    width: 50%;
    margin: 1rem;
    font-size: 1.2rem;
}

.inkcap-photos-flex {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 1rem;
    width: 100%;

}

.inkcap-photos-flex > img {
    width: 300px;
    height: auto;
}



.our-ethos-flex {
    display: flex;
    flex-direction: row;
    gap: 1rem;
    margin-inline: auto;
    width: 90%;
    height: fit-content;
}

.our-ethos-child {
    position: relative;
    flex: 1;
    height: 400px;
    transition: flex 0.3s ease-in-out, transform 0.3s ease-in-out;
    background-size: 110%;
    background-position: center;
    background-repeat: no-repeat;
    border-radius: 15px;
    border: 2px solid var(--off-white);
    overflow: hidden;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    filter: brightness(1);
}

.our-ethos-child:hover {
    flex: 2;
    background-size: 130%;
    transform: scaleX(1.02);
    z-index: 1;
    filter: brightness(1);
}

.our-ethos-flex:hover .our-ethos-child:not(:hover) {
    filter: brightness(0.6);

}

.our-ethos-child h3 {
    color: var(--off-white);
    font-size: 1.5rem;
    transition: transform 0.3s ease;
}

.our-ethos-child p {
    color: var(--off-white);
    opacity: 0;
    max-width: 80%;
    margin-top: 0.5rem;
    transform: translateY(10px);
    transition: opacity 0.3s ease, transform 0.3s ease;
}

.our-ethos-child:hover p {
    opacity: 1;
    transform: translateY(0);
    backdrop-filter: blur(20px);
}

.our-ethos-child > h3 {
    backdrop-filter: blur(20px);
    margin-bottom: auto;
}

.one {
    background-image: url("/inkmushroom.png");
    background-size: cover;
    background-color: #075c71;
}
.two {
    background-image: url("/ink1.jpeg");
    background-size: cover;
}
.three {
    background-image: url("/ink3.jpeg");
    background-size: cover;
}
.four {
    background-image: url("/ink5.jpeg");
    background-size: cover;
}
.five {
    background-image: url("/inkwitch.png");
    background-size: cover;
    background-color: #075c71;
}


.content-container {
    background-color: rgba(0, 0, 0, 0.3);
    backdrop-filter: blur(20px);
    padding: 3.5rem;
    border-radius: 15px;
    border: 2px solid var(--off-white);
    width: 90%;
    margin: 0 auto;
    color: var(--off-white);
    margin-bottom: 5rem;
    margin-top: 1.5rem;
    font-size: 1.2rem;
    display: flex;
    flex-direction: column;
    font-weight: 600;
}

.homelinkbutton {
    display: inline-block;
    width: auto;
    margin-inline: auto;
    border: none;
    color: var(--off-white);
    background-color: var(--brand-color);
    min-width: fit-content;
    min-height: 50px;
    padding: 1rem;
    font-weight: 900;
    font-size: 1.2rem;
    border-radius: 15px;
    transition: ease-in-out 0.5s;
    text-decoration: none;
}

.homelinkbutton:hover {
    background-color: var(--off-white);
    color: var(--brand-color);
    cursor: pointer;
    transform: scale(1.2);
}

.content-container > p {
    margin: 1.5rem;
}
