.HomeBackground {
    background-image: url("/4.jpeg");
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
    min-height: 100vh;
    min-width: 100vw;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.contentContainer {
    background-color: rgba(0, 0, 0, 0.3);
    backdrop-filter: blur(20px);
    padding: 1.5rem;
    border-radius: 15px;
    border: 2px solid var(--off-white);
    max-width: 800px;
    width: 80%;
    margin: 5rem auto;
}

.content {
    flex: 1;
    color: var(--off-white);
    text-align: center;
    padding: 2rem;
    place-content: center;
}
.button {

}

.heading {
    font-size: 3rem;
    border-radius: 15px;
    width: fit-content;
    font-family: "Charm", "sans-serif";
    color: var(--off-white);
    margin: 2rem auto;
}

.para {
    font-size: 1.2rem;
    width: 90%;
    text-align: center;
    margin: 2rem auto;
    border-radius: 15px;
    color: var(--off-white);
}

.homelinkbutton {
    margin-top: 2rem;
    margin-bottom: 2rem;
    margin-inline: auto;
    width: auto;
    border: none;
    background: none;
    color: var(--off-white);
    background-color: var(--brand-color);
    min-width: fit-content;
    min-height: 50px;
    padding: 1rem;
    font-weight: 900;
    font-size: 1.2rem;
    border-radius: 15px;
    transition: ease-in-out 0.5s;
    text-decoration: none;
}

.homelinkbutton:hover {
    background-color: var(--off-white);
    color: var(--brand-color);
    cursor: pointer;
    transform: scale(1.2);
}

@media (min-width: 1200px) {
    .contentContainer {
        max-width: 1000px;
        width: 80%;
    }
}

@media (max-width: 1200px) {
    .contentContainer {
        max-width: 800px;
        width: 80%;
    }
}

@media (max-width: 768px) {
    .contentContainer {
        max-width: 600px;
        width: 90%;
    }

    .heading {
        font-size: 2rem;
    }
}

@media (max-width: 480px) {
    .contentContainer {
        max-width: 400px;
        width: 95%;
        padding: 0.5rem;
    }

    .heading {
        font-size: 1.5rem;
    }

    .para {
        font-size: 1rem;
    }

    .homelinkbutton {
        font-size: 0.8rem;
    }
}